@use "variables";

.header {
    position: sticky;
    top: 0;
    left: 0; 
    z-index: 1;
    background-color: variables.$colorPrimary;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__brand {
        height: 70px;
    }

    &__nav {
        display: flex;
        gap: 8px;

        &__item {
            padding: 8px;

            &__link {
                color: variables.$textColorPrimary;
                text-transform: uppercase;
                font-weight: bold;

                &--is-hover:hover {
                    color: variables.$colorSecondary;
                    border-bottom: 1px solid variables.$colorSecondary;
                    transition: color .5s ease;
                }
            }
        }
    }

    @media (max-width:767px) {
        &__nav {
            position: fixed;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            gap: 0;
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            background-color: lighten(variables.$colorPrimary, 10%);
            clip-path: circle(0 at 90% -15%);
            transition: 1s ease-out;
            pointer-events: none;

            &--is-active {
                clip-path: circle(1500px at 90% -15%);
                pointer-events: all;
            }
        }
    }
}